*{
    margin: 0;
    padding: 0;
}
body{
 
    font-family: 'Lato', sans-serif;
    background-color: rgb(221, 223, 226);
    height: 100vh;
}

.datashow{
    height: 25vh;
    width: 100%;
   display: flex;
    align-items: center;
    justify-content: space-around;
}
.box{
    height: 150px;
    width: 150px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    border-radius: 50%;
    }
.box:hover{
    /* background-color: aliceblue; */
    box-shadow: inset 5px 5px 4px rgb(75, 73, 73) , inset -5px -5px 4px rgb(255, 255, 255) ;    
}

h2{
    font-size: 30px;
    /* color: black; */
    color: white;
}
h3{
    font-size: 20px;
    /* color: black; */
    color: white;

}
h1{
    font-size: 30px;
    /* color: black;
     */
color: orangered;

    margin-left: 40%;
    font-family: 'Lato', sans-serif;
    padding: 20px;
}
/* h1:hover{
        color: rgb(255, 68, 0);
} */

.tc{
    background-color: rgb(51, 190, 233);

}
.death{
    background-color: rgb(250, 11, 63);
}
.tr{
    background-color: rgb(32, 185, 52);
}
.cc{
    background-color: rgb(197, 18, 18);
}
.ac{
    background-color: rgb(255, 90, 90);
}
.nc{
    background-color: rgb(255, 90, 90);
}

/* nav */
nav{
    background-color: rgb(7, 93, 150);
}

#date{
     display: flex;
     font-size: 25px;
color: orangered;
/* padding: 10px; */
margin: 10px;
    justify-content: space-between;
    /* justify-content: space-evenly; */
    /* flex-direction:column; */

    font-weight: bold;
}

.dates:hover{
color: rgb(207, 5, 5);
}
#update{
    margin-right: 30px;
}
#todaydate{
    margin-left: 30px;

}
/* footer */
a{
    text-decoration: none;
    font-size: 20px;
    color:black;
    font-weight: bold;
}
footer{
    /* background-color: aquamarine; */
}
#pid{
    /* background-color: rgb(17, 21, 255); */
    text-align: center;
}